*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #3b4550;
  --primary-dark: #0a3d66;
  --primary-hover: #0d5ba8;
  --primary-light: #09f;
  --background: #06182a;
  --text-primary: #ffffff;
  --text-secondary: #cbd5e1;
  --text-muted: #94a3b8;
  --border: rgba(255, 255, 255, 0.1);
  --card-bg: #1e293b;
  --shadow: rgba(0, 0, 0, 0.3);
  --input-bg: #1e293b;
  --hsla-example: hsla(210, 100%, 56%, 1);
}

body{
    font-family: sans-serif;
    background-color: var(--background);
    color: var(--text-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    position: relative;
}

.header_Principal{
    width: 100%;
    height: 60px ;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--text-secondary);
}

.title_header{
    font-size: 1.4rem;
    font-weight: 700;
}

.logo_name-header{
    width: 20%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo_header{
    width: 30px;
    margin-left: 10px;
}

.header_nav{
    width: 50%;
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.header_nav a{
    text-decoration: none;
    color: var(--text-secondary);
}

.header_buttons{
    display: flex;
    margin-left: 20px;   
    text-align: center;
}

.header_buttons a{
    width: 160px;
    background-color: var(--primary-dark);
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    color: var(--text-primary);
    margin: 5px;
}

.section_title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}